{%  extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}

{# Progress bar #}
<div class="progress no-border hidden" id="delete-progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">	
	<span class="sr-only">Cargando.... por favor espere.</span>
</div>
</div>


	{{ include('PPPCanBundle:Usuario:messages/success.html.twig') }}
	{{ include('PPPCanBundle:Usuario:messages/danger.html.twig') }}
	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">

	{% if pagination.getTotalItemCount == 0 %}
	{{'<h2 class="padding-none"><font color="BLACK">No se encontraron registros</font></h2>'}}

		{% else %}

<h2 class="padding-none"><font color="BLACK">Razas</font></h2>
</div>
<div class="table-responsive">
	Total registros: <span id="total">{{ pagination.getTotalItemCount }}</span>	
	<table class="table table-striped table-hover">
		<thead>
	<tr>

		<th>{{ knp_pagination_sortable(pagination, 'Raza', 'u.dtalleraza') }}</th>		
		<th>Acciones</th>
	</tr>
</thead>
<tbody>
	{% for raza in pagination %}	
		<tr data-id="{{ raza.id }}" >
			<td>{{ raza.dtalleraza }}</td>
			<td calss="actions">
<a href="{{ path('ppp_raza_edit', { id: raza.id  }) }}" class="btn btn-sm btn-primary">Editar</a> 
		<a href="#" class="btn btn-sm btn-danger btn-delete">Eliminar</a>				
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
 {# display navigation #}
<div class="navigation">
{{ knp_pagination_render(pagination) }}
</div>

{% endif %}

</div>
</div>
</div>

    {{ include('PPPCanBundle:Raza:forms/form.html.twig', { form: delete_form_ajax, message: 'Esta seguro de eliminar el registro?', id: 'form-delete', with_submit: false}) }} 

{% endblock %}


{% block javascripts  %}
	{{ parent() }}
	<script src="{{ asset('bundles/pppcan/js/delete-razas.js') }}"></script>
{% endblock %}	
