<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PEPPER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Link</a></li>-->


        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Mis datos</a></li>
            <li><a href="">Modificar mis datos</a></li>
          </ul>
        </li>-->

          {% if is_granted('ROLE_JEFE_DEPARTAMENTO') %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_usuario_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_usuario_index') }}">Listar</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propietarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_propietario_index') }}">Listar</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascotas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_mascota_index1') }}">Listar</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_radicado_index') }}">Listar</a></li>
            <li><a href="{{ path('ppp_checklist2_index2') }}">Gestionar</a></li>            
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_reportes_index') }}">Solicitudes</a></li>
            <li><a href="{{ path('ppp_reportes_usuarios') }}">Usuarios</a></li>            
            <li><a href="{{ path('ppp_reportes_perros') }}">Mascotas</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ataques <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_ataque_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_ataque_index') }}">Listar</a></li>            
          </ul>
        </li>


          {% endif %}



          {% if is_granted('ROLE_COORDINADOR') %} 

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raza <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_raza_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_raza_index') }}">Listar</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propietarios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_propietario_index') }}">Listar</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascotas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_mascota_index1') }}">Listar</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_radicado_index') }}">Listar</a></li>
            <li><a href="{{ path('ppp_checklist_index') }}">Gestionar</a></li>
          </ul>
        </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_reportes_index') }}">Solicitudes</a></li>
            <li><a href="{{ path('ppp_reportes_usuarios') }}">Usuarios</a></li>            
            <li><a href="{{ path('ppp_reportes_perros') }}">Mascotas</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ataques <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_ataque_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_ataque_index') }}">Listar</a></li>            
          </ul>
        </li>


            {% endif %}



          {% if is_granted('ROLE_ZOOTECNISTA') %}   

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raza <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_raza_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_raza_index') }}">Listar</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propietarios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_propietario_index') }}">Listar</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascotas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_mascota_index1') }}">Listar</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_radicado_index') }}">Listar</a></li>
            <li><a href="{{ path('ppp_checklist1_index1') }}">Gestionar</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ataques <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_ataque_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_ataque_index') }}">Listar</a></li>            
          </ul>
        </li>
        

          {% endif %}


          {% if is_granted('ROLE_PROPIETARIO') %}  

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascotas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_mascota_add') }}">Crear</a></li>
            <li><a href="{{ path('ppp_mascota_index', {'idUsuario': app.user.id}) }}">Listar</a></li>            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_radicado_add') }}">Crear</a></li>
            
            <li><a href="{{ path('ppp_usuario_solicitudesradi', {'idUsuario': app.user.id}) }}">Radicadas</a></li>            
            <li><a href="{{ path('ppp_usuario_solicitudes', {'idUsuario': app.user.id}) }}">En proceso</a></li>            
            <li><a href="{{ path('ppp_usuario_solicitudesreject', {'idUsuario': app.user.id}) }}"> Rechazadas</a></li>                        
            <li><a href="{{ path('ppp_usuario_solicitudesapproved', {'idUsuario': app.user.id}) }}"> Aprobadas</a></li>                        
          </ul>
        </li>


{% endif %}            

      </ul>



            <ul class="nav navbar-nav navbar-right">
              <li>
            <font color="white">    
            {{ app.user.nombres }}
            {{ app.user.apellidos }}
            {{ '  /  ' }}
            {% if app.user.role == 'ROLE_JEFE_DEPARTAMENTO' %}
                {{ 'Jefe de departamento' }}

            {% elseif app.user.role == 'ROLE_COORDINADOR' %}
                {{ 'Coordinador' }}

            {% elseif app.user.role == 'ROLE_SECRETARIO' %}
                {{ 'Secretario' }}

            {% elseif app.user.role == 'ROLE_ZOOTECNISTA' %}
                {{ 'Zootecnista' }}

            {% elseif app.user.role == 'ROLE_PROPIETARIO' %}
                {{ 'Propietario(a)' }}            

            {% endif %}
            </font>
          </li>
                <li>                  
                <a href="{{ path('ppp_usuario_logout') }}">{{ 'Cerrar sesión' }}</a>
                </li>
            </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
