<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PEPPER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Link</a></li>-->


        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Mis datos</a></li>
            <li><a href="">Modificar mis datos</a></li>
          </ul>
        </li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Razas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_raza_add') }}">Crear Raza</a></li>
            <li><a href="{{ path('ppp_raza_index') }}">Listar Razas</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_usuario_add') }}">Crear usuarios</a></li>
            <li><a href="{{ path('ppp_usuario_index') }}">Listar usuarios</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propietarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_propietario_index') }}">Listar propietarios</a></li>
          </ul>
        </li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascotas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_mascota_add') }}">Crear mascota</a></li>
            <li><a href="{{ path('ppp_mascota_index') }}">Listar mascotas</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('ppp_radicado_index') }}">Listar solicitudes</a></li>
            <li><a href="{{ path('ppp_radicado_add') }}">Crear solicitudes</a></li>
            <li><a href="{{ path('ppp_checklist_index') }}">Gestionar solicitudes</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('ppp_usuario_solicitudes', {'idUsuario': app.user.id}) }}">Mis solicitudes</a></li>
            {% endif %}

          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ path('ppp_reportes_index') }}">Reportes </a>
        </li>



      </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                <a href="{{ path('ppp_usuario_logout') }}">{{ 'Salir' }}</a>
                </li>
            </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
