{%  extends 'layout1.html.twig' %}

{% block body %}
	{{ parent() }}
    

     
   <div class="slider-wrapper theme-mi-slider">
    <div id="slider" class="nivoSlider">     
        <img src="{{ asset('public/images/2.jpg') }}" alt="" title="#htmlcaption1" />  
        <img src="{{ asset('public/images/3.jpg') }}" alt="" title="#htmlcaption1" />   
         <img src="{{ asset('public/images/4.jpg') }}" alt="" title="#htmlcaption1" />  
        <img src="{{ asset('public/images/5.jpg') }}" alt="" title="#htmlcaption1" />    
         <img src="{{ asset('public/images/6.jpg') }}" alt="" title="#htmlcaption1" />  
        <img src="{{ asset('public/images/7.jpg') }}" alt="" title="#htmlcaption1" />    
         <img src="{{ asset('public/images/8.jpg') }}" alt="" title="#htmlcaption1" />  
        <img src="{{ asset('public/images/9.jpg') }}" alt="" title="#htmlcaption1" />    
       
       
       
    </div> 
   
  </div>
 <footer>


<!--<a target="_blank" href="http://www.girardot-cundinamarca.gov.co/Paginas/Inicio.aspx"><img src="{{ asset('public/images/g.png') }}" title="Alcaldia Girardot" alt="Alacaldia de Girardot"></a>-->
  
 <center> <a target="_blank" href="http://www.cundinamarca.gov.co/"><img src="{{ asset('public/images/gober.png') }}" title="Gobernacion de cundinamarca" alt="Gobernacion de cundinamarca"></a>
  
  <a target="_blank" href="https://www.dnp.gov.co/DNPN/Paginas/default.aspx"><img src="{{ asset('public/images/cobierno.png') }}" title="Gobierno" alt="Gobierno"></a>

  <a target="_blank" href="http://www.colciencias.gov.co/"><img src="{{ asset('public/images/col.png') }}" title="Colciencias" alt="colciencias"></a>

  <a target="_blank" href="http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html"><img src="{{ asset('public/images/linea.Jpg') }}" title="linea" alt="linea"></a>

  <a target="_blank" href="https://www.mineducacion.gov.co/portal/"><img src="{{ asset('public/images/MIN.pNg') }}" title="linea" alt="linea"></a>
</center>
   

   
   



 
    
               

</footer>

{% endblock %}

