{% extends 'layout1.html.twig' %}

{% block body %}
 {{ parent() }}

<br><br>







<center><table><tr><td ALIGN="justify"  FACE="arial" >

Los perros potencialmente peligrosos, están regidos bajo la ley 746 de 2002 y el nuevo Código de la Policía, el cual regula la tenencia y control de estos animales. 
Se debe tener en cuenta los siguientes artículos establecidos en el nuevo Código de Policía, capitulo IV (Ejemplares caninos potencialmente peligrosos): <br>

 Artículo 126. Ejemplares caninos potencialmente peligrosos. Se consideran caninos peligrosos aquellos que representan una o más de las siguientes características: <br>

• Caninos que han tenido episodios de agresiones a personas; o les hayan causado muerte a otros perros. <br>
• Caninos que han sido adiestrados para el ataque y la defensa.<br>
• Caninos que pertenecen a las siguientes razas o sus cruces o híbridos: American Staffordshire Terrier, Bullmastiff,Doberman, Dogo Argentino, Dogo de Burdeos, Fila Brasilero, Mastin Napolitano, Bull Terrier, Pit Bull Terrier, American Pit bull Terrier, de presa canario, Rottweiler, Staffordshire Terrier, Tosa Japones y aquellas nuevas razas o mezclas de razas que el Gobierno nacional determine.</td></center>
<td><img  class="item2"src="{{ asset('public/images/bull.jpg') }}"></td></center>
</table></center>

<center><a data-scroll href="http://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=5515" class="btn btn-danger" role="button" aria-pressed="true" class="glyphicon glyphicon-chevron-up" target="_blank">Mayor Informacion</a></center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;






<footer>

 <center> <a target="_blank" href="http://www.cundinamarca.gov.co/"><img src="{{ asset('public/images/gober.png') }}" title="Gobernacion de cundinamarca" alt="Gobernacion de cundinamarca"></a>
  
  <a target="_blank" href="https://www.dnp.gov.co/DNPN/Paginas/default.aspx"><img src="{{ asset('public/images/cobierno.png') }}" title="Gobierno" alt="Gobierno"></a>

  <a target="_blank" href="http://www.colciencias.gov.co/"><img src="{{ asset('public/images/col.png') }}" title="Colciencias" alt="colciencias"></a>

  <a target="_blank" href="http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html"><img src="{{ asset('public/images/linea.Jpg') }}" title="linea" alt="linea"></a>

  <a target="_blank" href="https://www.mineducacion.gov.co/portal/"><img src="{{ asset('public/images/MIN.pNg') }}" title="linea" alt="linea"></a>
</center>
   

   
   



 
    
               

</footer>


{% endblock %}