{% extends 'layout1.html.twig' %}

{% block body %}
 {{ parent() }}
    				
					
	<script>
        $(document).on("click", ".alert", function(e) {        	
            bootbox.alert(" Hola lundo. ", function() {
                console.log("Alert Callback");
            });
        });
    </script>


		
			<!--<center> <div class="item1"><img src="{{ asset('public/images/parte.jpg') }}" width="40" class="adaptar"></div></center>-->

			

<section class="portafolio">
		<center><font face="Arial Black" size="6" color="Black">Perros Potencialmente Peligrosos</font></center>
    <br><br>
	<section class="portafolio">
		
		<div class="portafolio-container">
			<section class="portafolio-item">
				 <div class="item"><img src="{{ asset('public/images/dogoargentino.jpg') }}" class="adaptar"></div>


				 <section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Dogo Argentino</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert2" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert3" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				</section>
			</section>


			<section class="portafolio-item">
				 <div class="item"><img src="{{ asset('public/images/dogoburne.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Dogo de Burdeos</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert2" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert3" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				</section>
			</section>
			<section class="portafolio-item">
				<div class="item"><img src="{{ asset('public/images/123.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Akita Inu</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert4" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert5" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</section>
		</div>
	</section>

<br>



	<section class="portafolio">
		
		<div class="portafolio-container">
			<section class="portafolio-item">
				 <div class="item"><img src="{{ asset('public/images/Mas.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Mastín Napolitano</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert6" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert7" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>
			<section class="portafolio-item">
				<div class="item"><img src="{{ asset('public/images/dormen.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Dóbermann</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert8" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert9" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>
			<section class="portafolio-item">
				 <div class="item"><img src="{{ asset('public/images/bull.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">BullTerrier</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert10" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert11" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>
		</div>
	</section>
<br>
 		



	<section class="portafolio">
		
		<div class="portafolio-container">
			<section class="portafolio-item">
				 <div class="item"><img src="{{ asset('public/images/Rou.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Rottweiler</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert12" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     					<a class="alert13" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>



			<section class="portafolio-item">
				<div class="item"><img src="{{ asset('public/images/Man.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Pitbull</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert14" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     					<a class="alert15" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>

<section class="portafolio-item">
				<div class="item"><img src="{{ asset('public/images/presa.jpg') }}" class="adaptar"></div>
				<section class="portafolio-text">
					<center><h2><div style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Presa canario</div></h2></center><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="alert14" href=#  style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     					<a class="alert15" href=# style= "color:#00BFFF; font-size:18px;: Georgia, 'Times New Roman', serif;" >Caracteristicas</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</section>
			</section>





     				
				
		</div>
	</section>
	
	<br>
	<br>

<footer>

 <center> <a target="_blank" href="http://www.cundinamarca.gov.co/"><img src="{{ asset('public/images/gober.png') }}" title="Gobernacion de cundinamarca" alt="Gobernacion de cundinamarca"></a>
  
  <a target="_blank" href="https://www.dnp.gov.co/DNPN/Paginas/default.aspx"><img src="{{ asset('public/images/cobierno.png') }}" title="Gobierno" alt="Gobierno"></a>

  <a target="_blank" href="http://www.colciencias.gov.co/"><img src="{{ asset('public/images/col.png') }}" title="Colciencias" alt="colciencias"></a>

  <a target="_blank" href="http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html"><img src="{{ asset('public/images/linea.Jpg') }}" title="linea" alt="linea"></a>

  <a target="_blank" href="https://www.mineducacion.gov.co/portal/"><img src="{{ asset('public/images/MIN.pNg') }}" title="linea" alt="linea"></a>
</center>
   

   
               

</footer>



{% endblock %}
