{% extends 'layout1.html.twig' %}

{% block body %}
 {{ parent() }}




<!--<center> <div class="item1"><img src="{{ asset('public/images/parte.jpg') }}" width="40" class="adaptar"></div></center>-->


 



<!-- MENÚ -->
    
      <div class="row flex-items-xs-between menu-1 flex-items-xs-middle">
        <!--<div class="col-xs-2">
          <a data-scroll href="#sec-1" class="btn btn-danger" role="button" aria-pressed="true">Sección-1</a>
        </div>-->
        <div class="col-xs-2">
          <a data-scroll href="#sec-2" class="btn btn-danger" role="button" aria-pressed="true">Misi&oacuten</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-xs-2">
          <a data-scroll href="#sec-3" class="btn btn-danger" role="button" aria-pressed="true">Objetivos</a>
        </div>
        <div class="col-xs-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a data-scroll href="#sec-4" class="btn btn-danger" role="button" aria-pressed="true">Funciones</a>
        </div>
      </div>

    <!-- FIN MENU -->
    
    <!-- SECCIÓN 1 -->
   <!-- <div class="container-fluid">
      <div class="row flex-items-xs-center slider-1 flex-items-xs-middle" id="sec-1" >
        <div class="row">
          <div class="col-xs-12"><h1>Bienvenidos a mi sitio web</h1></div>
          <div class="col-xs-12"><h3>Sección 1</h3></div>
        </div>
      </div>
    </div>-->
    <!-- FIN SECCIÓN -->

    <!-- SECCIÓN 2 -->
    
      <div class="row flex-items-xs-center slider-2 flex-items-xs-middle" id="sec-2" >
        <div class="row">
          <div class="col-xs-12">
         <div class="sl">
      <ul>
        <li>
          <p>hola podrido mundo Cuando creamos una tabla en HTML e insertamos texto dentro de ella, este texto siempre quedará alineado a la izquierda. Es decir, sucede lo mismo que cuando insertamos texto en cualquier otra parte de una página HTML. En el ejemplo de hoy vamos a ver como podemos alinear texto en una tabla.A la hora de alinear texto en una tabla lo primero que tenemos que tener en cuenta es sobre que elemento manipulamos el texto y lo alineamos. Y e que debemos de recordar las partes de las que normalmente consta una tabla en HTML.</p>
 <img src="{{ asset('public/images/manos.jpg') }}">

       
    </div> 
    <a data-scroll href="#sec-4" class="btn btn-danger" role="button" aria-pressed="true" class="glyphicon glyphicon-chevron-up"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>


	

       
        </div>
      </div>
    
    <!-- FIN SECCIÓN -->

    <!-- SECCIÓN 3 -->
   
     <!-- <div class="row flex-items-xs-center slider-3 flex-items-xs-middle" id="sec-3" >
        <div class="row">
          <div class="col-xs-12">
            <div class="sli">
              <h1>Objetivos</h1>
	 <img src="{{ asset('public/images/ci.jpg') }}">


          </div>
          <a data-scroll href="#sec-2" class="btn btn-danger" role="button" aria-pressed="true" class="glyphicon glyphicon-chevron-up"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      </div>
    </div>
</div>-->

<div class="row flex-items-xs-center slider-3 flex-items-xs-middle" id="sec-3" >
        <div class="row">
          <div class="col-xs-12">
         <div class="sl">
      <ul>
        <li>
 <img src="{{ asset('public/images/ci.jpg') }}">

       
    </div> 
    <a data-scroll href="#sec-4" class="btn btn-danger" role="button" aria-pressed="true" class="glyphicon glyphicon-chevron-up"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>


  

       
        </div>
      </div>
    <!-- FIN SECCIÓN -->

    <!-- SECCIÓN 4 -->


  <div class="row flex-items-xs-center slider-4 flex-items-xs-middle" id="sec-4" >
        <div class="row">
          <div class="col-xs-12">
 <div class="slider">
  <h1>Funciones</h1>
      <ul>
        <li>
  <img src="{{ asset('public/images/olore.jpg') }}">
 </li>
        <li>
  <img src="{{ asset('public/images/am.jpg') }}">
</li>
        <li>
   <img src="{{ asset('public/images/corre.jpg') }}">
</li>
        <li>
   <img src="{{ asset('public/images/distrr.jpg') }}">
</li>
      </ul>

      
   
    </div>

<a data-scroll href="#sec-2" class="btn btn-danger" role="button" aria-pressed="true" class="glyphicon glyphicon-chevron-up"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


          </div>
          
      </div>
    </div>
 
<footer>


<!--<a target="_blank" href="http://www.girardot-cundinamarca.gov.co/Paginas/Inicio.aspx"><img src="{{ asset('public/images/g.png') }}" title="Alcaldia Girardot" alt="Alacaldia de Girardot"></a>-->
  
 <center> <a target="_blank" href="http://www.cundinamarca.gov.co/"><img src="{{ asset('public/images/gober.png') }}" title="Gobernacion de cundinamarca" alt="Gobernacion de cundinamarca"></a>
  
  <a target="_blank" href="https://www.dnp.gov.co/DNPN/Paginas/default.aspx"><img src="{{ asset('public/images/cobierno.png') }}" title="Gobierno" alt="Gobierno"></a>

  <a target="_blank" href="http://www.colciencias.gov.co/"><img src="{{ asset('public/images/col.png') }}" title="Colciencias" alt="colciencias"></a>

  <a target="_blank" href="http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html"><img src="{{ asset('public/images/linea.Jpg') }}" title="linea" alt="linea"></a>

  <a target="_blank" href="https://www.mineducacion.gov.co/portal/"><img src="{{ asset('public/images/MIN.pNg') }}" title="linea" alt="linea"></a>
</center>
   

   
   



 
    
               

</footer>



{% endblock %}