<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
	<p>Girardot {{fechas['generacion']['dia']}}, de {{fechas['generacion']['mes']}} de {{fechas['generacion']['ano']}}</p>

	<h2>Certifico Que:</h2>

	<p>
		El señor {{propietario.nombres}} {{propietario.apellidos}}, identificado con la C.C. {{propietario.identificacion}}
		N de _________ con vivienda ubicada en {{propietario.direccion}} y el telefono numero {{propietario.telefono}},
		entrego el {{fechas['radicado']['dia']}} de {{fechas['radicado']['mes']}} de {{fechas['radicado']['ano']}}
		a la Secretaria de Salud toda la documentación exigida para la tenencia responsable de Perros de Razas Potencialmente Peligrosas
		especificadas en el codigo de Policía Nacional.
	</p>
	<h3>Características de Canino</h3>

	<div>
		<div>
			<ul>
				<li>Raza: {{ mascota.raza.dtalleraza }}</li>
				<li>Nombre: {{ mascota.nombresm }} </li>
				<li>Edad </li>
				<li>Color: {{mascota.colorm}}</li>
				<li>Ocupación del canino </li>
				<li>Carnet de vacinas vigente </li>
				<li>Acta de Acte de declaración Juramentada ante notaria asumiendo responsabilidad ante cualquier daño ocasionado por el canino a humanos u otros animales </li>
			</ul>
		</div>
		<div>
			<h6>Foto del canino</h6>
		</div>
	</div>

	<p>Cordialmente,</p>


	<h3>
		[MANUEL REINALDO DIAS GONZALEZ]
		<br/>
		[Secretario de Salud]
	</h3>


</body>
</html>
