{%  extends 'reports.html.twig' %}

{% block body %}
	{{ parent() }}
	<header class="text-center">
		<h1>Reporte de Mascotas</h1>
		<h4> Desde {{data['config']['start_date']}} Hasta {{data['config']['end_date']}}</h4>
	</header>

	<div>
		<h2>Relación por Genero</h2>

		<table>
			<thead>
				<tr>
					<th width="50%">Genero</th>
					<th width="50%">Cantidad</th>
				</tr>
			</thead>
			<tbody>
				{% for genero in data['result']['generos'] %}
					<tr>
						<td>{{ genero['nombre'] }}</td>
						<td>{{ genero['cantidad'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div>
		<h2>Relación por Raza</h2>

		<table>
			<thead>
				<tr>
					<th width="50%">Raza</th>
					<th width="50%">Cantidad</th>
				</tr>
			</thead>
			<tbody>
				{% for raza in data['result']['razas'] %}
					<tr>
						<td>{{ raza['nombre'] }}</td>
						<td>{{ raza['cantidad'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock body %}
