{%  extends 'reports.html.twig' %}

{% block body %}
	{{ parent() }}
	<header class="text-center">
		<h1>Reporte de Radicados</h1>
		<h4> Desde {{data['config']['start_date']}} Hasta {{data['config']['end_date']}}</h4>
	</header>
	<div>
		<h2>Relación por Estado</h2>

		<table>
			<thead>
				<tr>
					<th width="50%">Estado</th>
					<th width="50%">Cantidad</th>
				</tr>
			</thead>
			<tbody>
				{% for estado in data['result']['estados'] %}
					<tr>
						<td>{{ estado['nombre'] }}</td>
						<td>{{ estado['cantidad'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock body %}
