{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ mascota.nombresm }}</h2>
	        <br>
	        <dl>
	            
	            <dt></dt>
	            <dd>
				{% set carpeta1 = 'uploads/mascotas/' %}
				{% set imagen1 = mascota.foto1m %}
				{% set concatenar1 = carpeta1 ~ imagen1  %}
					{% if mascota.foto1m == NULL %}
					<img src="{{ asset('uploads/mascotas/sinfoto.jpg') }}" alt="Sin foto" width="250" height="200">&nbsp&nbsp&nbsp
					{% else %}
					<img src={{ asset( concatenar1 ) }} width="250" height="200"> 
					&nbsp&nbsp&nbsp
					{% endif %}


				{% set carpeta2 = 'uploads/mascotas/' %}
				{% set imagen2 = mascota.foto2m %}
				{% set concatenar2 = carpeta2 ~ imagen2  %}		
					{% if mascota.foto2m == NULL %}
					<img src="{{ asset('uploads/mascotas/sinfoto.jpg') }}" alt="Sin foto" width="250" height="200">&nbsp&nbsp&nbsp
					{% else %}
					<img src={{ asset( concatenar2 ) }} width="250" height="200"> 
					&nbsp&nbsp&nbsp
					{% endif %}


				{% set carpeta3 = 'uploads/mascotas/' %}
				{% set imagen3 = mascota.foto3m %}
				{% set concatenar3 = carpeta3 ~ imagen3  %}						 
					{% if mascota.foto3m == NULL %}
					<img src="{{ asset('uploads/mascotas/sinfoto.jpg') }}" alt="Sin foto" width="250" height="200">&nbsp&nbsp&nbsp
					{% else %}
					<img src={{ asset( concatenar3 ) }} width="250" height="200"> 
					&nbsp&nbsp&nbsp
					{% endif %}

	            </dd>	
	            <br>

<table border="1" WIDTH="1000" bordercolor="#A9D0F5">

<tr><td bgcolor="#ECE0F8"><dt>{{'Propietario: '}}</dt></td><td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
<td bgcolor="#ECE0F8"><dt>Foto propietario</td></dt>

<td>

				{% set carpeta4 = 'uploads/usuarios/' %}
				{% set imagen4 = usuario.foto %}
				{% set concatenar4 = carpeta4 ~ imagen4  %}						 
					{% if usuario.foto == NULL %}
					<img src="{{ asset('uploads/usuarios/perfil.jpg') }}" alt="Sin foto" width="100" height="100">&nbsp&nbsp&nbsp
					{% else %}
					<img src={{ asset( concatenar4 ) }} width="100" height="100"> 
					&nbsp&nbsp&nbsp
					{% endif %}


</td></tr>
	
<tr><td bgcolor="#ECE0F8"><dt>{{'Nombre: '}}</dt></td><td>{{ mascota.nombresm }}</td>
<td bgcolor="#ECE0F8"><dt>{{'Edad: '}}</dt></td><td>{{ mascota.aniom }} {{' Año(s)'}} {{ mascota.mesm }}{{ ' Meses' }} {{ mascota.diam }} {{ ' Dias' }}
</td></tr>

<tr><td bgcolor="#ECE0F8"><dt>{{'Descripcion: '}}</dt></td><td>{{ mascota.descripcionm }}</td>	
<td bgcolor="#ECE0F8"><dt>{{'Genero: '}}</dt></td><td>{{ mascota.generom }}</td></tr>	            

<tr><td bgcolor="#ECE0F8"><dt>{{'Color: '}}</dt></td><td>{{ mascota.colorm }} {{'/'}} {{ mascota.cual }}  </td>	                
<td bgcolor="#ECE0F8"><dt>{{'Raza: '}}</dt></td><td>{{ raza.dtalleraza }}</td></tr>
	            
<tr><td bgcolor="#ECE0F8"><dt>{{'Creado: '}}</dt></td><td>{{ mascota.createdAtm|date('d-m-Y H:i') }} </td>	
<td bgcolor="#ECE0F8"><dt>{{'Actualizado: '}}</dt></td><td>{{ mascota.updatedAtm|date('d-m-Y H:i') }}</td></tr>               

<tr><td bgcolor="#ECE0F8"><dt>{{'Estado: '}}</dt></td><td colspan="3">{{ mascota.estadom }}</td></tr>
	            
</table>
	                
	        </dl>
	    </div>	    		
  </div>
	    
{% endblock %}