{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ usuario.nombres }} {{ usuario.apellidos }}</h2>
	        <br>
	        <dl>

	            <dt></dt>
	            <dd>
				{% set carpeta = 'uploads/usuarios/' %}
				{% set imagen = usuario.foto %}
				{% set concatenar = carpeta ~ imagen  %}	
					 {% if usuario.foto == NULL %}
					  <img src="{{ asset('uploads/usuarios/perfil.jpg') }}" alt="Sin foto de perfil"> 
					 {% else %}
				<img src={{ asset( concatenar ) }} width="200" height="200"> 
					 {% endif %}


	            </dd>	

	            <br>


<table border="1" WIDTH="800" bordercolor="#A9D0F5">
<tr><td bgcolor="#ECE0F8"><dt>{{'Nombre de usuario: '}}</dt></td><td>{{ usuario.usuario }}</td>
<td bgcolor="#ECE0F8"><dt>{{'Nombres: '}}</dt></td><td>{{ usuario.nombres }}</td></tr>
	                            
<tr><td bgcolor="#ECE0F8"><dt>{{'Apellidos: '}}</dt></td><td>{{ usuario.apellidos }}</td>
<td bgcolor="#ECE0F8"><dt>{{'Correo electronico: '}}</dt></td><td>{{ usuario.correo }}</td></tr>	            

<tr><td bgcolor="#ECE0F8"><dt>{{'Numero telefonico: '}}</dt></td><td>{{ usuario.telefono }}</td>
<td bgcolor="#ECE0F8"><dt>{{'Dirección: '}}</dt></td><td>{{ usuario.direccion }}</td></tr>	            

<tr><td bgcolor="#ECE0F8"><dt>{{'Barrio: '}}</dt></td><td>{{ usuario.barrio }}</td>	              	           
<td bgcolor="#ECE0F8"><dt>{{'Ocupacion: '}}</dt></td><td>{{ usuario.ocupacion }}</td></tr>
	            
<tr><td bgcolor="#ECE0F8"><dt>{{'Rol: '}}</dt></td>
<td>	
                	{% if usuario.role == 'ROLE_JEFE_DEPARTAMENTO' %}
						{{ 'Jefe departamento' }}
					{% elseif usuario.role == 'ROLE_COORDINADOR' %}
						{{ 'Coordinador' }}
					{% elseif usuario.role == 'ROLE_SECRETARIO' %}
						{{ 'Secretario' }}
					{% elseif usuario.role == 'ROLE_ZOOTECNISTA' %}
						{{ 'Zootecnista' }}
                	{% endif %}
</td>	
<td bgcolor="#ECE0F8"><dt>{{'Estado: '}}</dt></td>	            
<td>	            
	               	{% if usuario.isActive == 1 %}
						<span class="text-success">{% trans %}Habilitado{% endtrans %}</span>
					{% elseif usuario.isActive == 0 %}
						<span class="text-warning">{% trans %}Deshabilitado{% endtrans %}</span>
                	{% endif %}
</td></tr>
	                
<tr><td bgcolor="#ECE0F8"><dt>{{'Creado: '}}</dt></td>	            
<td>{{ usuario.createdAt|date('d-m-Y H:i') }}</td>
<td bgcolor="#ECE0F8"><dt>{{'Actualizado: '|trans}}</dt></td>
<td>{{ usuario.updatedAt|date('d-m-Y H:i') }}</td></tr></table>
	            

	            
	                
	            
	                

	    </div>
	    
	    <div class="col-md-3">
	    	<h3>{{ 'Acciones' }}:</h3>
			<p>
		    <a href="{{ path('ppp_usuario_edit', { id: usuario.id }) }}" class="btn btn-primary btn-lg btn-block">
		    		<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Editar usuario'|trans }}
				 </a>
			</p>			
			<!--<p>
			    {{ include('PPPCanBundle:Usuario:forms/form.html.twig', { form: delete_form, message: 'Esta seguro de eliminar el usuario?'}) }}
			</p>-->
		
	    </div>
	    
	</div>
{% endblock %}